@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400; 500; 600; 700&display=swap");

:root {
  --primary-color: #e2be0a;
  --text-dark: #0f172a;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Popins", sans-serif;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(9, 24, 29, 0.9), rgba(9, 24, 29, 0.9)),
    url("../assets/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__bar {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--primary-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__logo img{
  max-width: 75px;
}
